{% extends "index.html" %}
{% load static %}
{% block head %}
<script src="{% static 'lib/js/highcharts-9.3.3/code/highcharts.js' %}"></script>
<script src="{% static 'lib/js/highcharts-9.3.3/code/modules/exporting.js' %}"></script>
<script src="{% static 'lib/js/highcharts-9.3.3/code/modules/export-data.js' %}"></script>
<script src="{% static 'lib/js/highcharts-9.3.3/code/modules/accessibility.js' %}"></script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-10">
        <h1 class="text-center py-2">{{ message }}</h1> 
        {% if hasxcos %}  
            {% for tot in hasxcos %}
                <p>Total {{ tot.name }}: {{ tot.y }} has.</p>
            {% endfor %}             
        {% else %}  
            <p>NO HAY VALORES PARA GENERAR REPORTE</p>
        {% endif %}
        <div id="container"></div> 
    </div>
    <div class="col-2">
        <h3 class="text-center">Selección</h3>
        <form class="text-center" action="." method='GET'>
          <div class="form-floating">
            <select id="floatingSelectCosecha" class="form-select form-select-sm my-1" aria-label=".form-select-sm example" name="cosecha" id="">Cosecha
              <option value="">------------------</option>
              <option value="2015/2016">2015/2016</option>
              <option value="2016/2017">2016/2017</option>
              <option value="2017/2018">2017/2018</option>
              <option value="2018/2019">2018/2019</option>
              <option value="2019/2020">2019/2020</option>
              <option value="2020/2021">2020/2021</option>
              <option value="2021/2022">2021/2022</option>
            </select>
            <label for="floatingSelectCosecha">Cosecha</label>
          </div>
          <button type="submit" class="btn btn-light btn-sm">Filtrar</button>
        </form>
    </div>
</div>


{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Superficie sembrada por campaña.'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
                }
            },
            series: [{
                name: 'Cultivos',
                colorByPoint: true,
                data: {{ hasxcos | safe }}
            }]
        });
    });
</script>
{% endblock %}